.preferences{
    .dropdown-menu, .preferences-dropdown {
        background-color: #212529;
    }
    .preferences-dropdown {
        .preference-menu {
            background-color: #6c757d;
            padding: 16px 16px 0 16px;
        }

        .dropdown-item:focus, .dropdown-item:hover:hover {
            background-color: unset;
        }
    }
}
