.news-carousel {
  height: 400px;
  display: flex;
  .carousel-inner {
    background-color: #0d6efd47;

    .carousel-item {

      .carousel-caption {
        background-size: cover;
        background-repeat: no-repeat;
        top: 0;
        height: 400px;
      }
    }
  }

}
